*{
     margin:0%;
    padding:0%;
}
.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: rgb(2,17,30);
}
.create_form,h2{
    padding: 20px;
}
.create_form button{
    padding: 10px;
}
update_form{
    padding: 20px;
}
.add_div{
    padding:10px;
}
.form_container{
    margin-top: 20px;
    width: 40vw;
    border-radius: 10px;
    height: 80vh;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form input{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid grey;
}
form button{
    padding: 10px;
    background-color: green;
    color: white;
    border-radius: 7px;
    cursor: pointer;
}
.add_div button{
    padding: 8px;
    background-color: green;
    color: white;
    border-radius: 7px;
}
.add_div button:hover{
    background-color: rgb(2.58,2);
    cursor:pointer;
}
table{
    width: 100%;
    margin-top: 20px;
    text-align: center;

}
table button{
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}
table .edit{
    background-color: blue;
    color: white;
}
table .delete{
    background-color: rgb(216,25,60);
    color: white;
}